
.a-challange{
    background-color: #03588C;
    width: 100vw;
    height: 70px;
    bottom: -110px;
    color: var(--color-1st);
    position: absolute;
}

.challange__team, 
.challange__org{
    color: var(--color-1st);
    display: flex;
    line-height: 28px;
    margin: 02px 20px;

}

.challange__team:hover, 
.challange__org:hover{
    color: var(--color-2st);
    transition: .3s;
    font-weight: 600;
    text-shadow: 2px 1px 5px var(--color-3st);
}