.content__principal{
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 150px;
}

.principal{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100vw;
    color: var(--color-3st);
    margin: 10px 10px 14px;
}

.principal__banner{
    display: flex;
    justify-self: center;
    align-items: center;
    
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.banner-img__mascot{
    position: relative;
    width: 550px;
    left: 1rem;
    
}
.principal__title{
    font-size: 4.5em;
    text-align: center;
    color: var(--color-3st);
    margin: 0;
    margin-top: -5rem;
    position: relative;
    
}
.txt-span{
    color: var(--color-4st);
}
.banner-txt{
    text-align: flex-start;
    font-size: 1.6em;
    flex-wrap: wrap;
}

.banner-p{
    margin: 15px 0 0 0;
    text-wrap: wrap;
}
.banner-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 19px;
    gap: 50px;
}
